<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Trainer List</title>
  <style>
    .background-blue {
      background-color: #33c1ff; 
      padding: 20px; 
    }


    .logo {
      width: 200px; 
      margin-bottom: 20px; 
    }
  </style>
</head>
<body>

  <div class="background-blue">
    <img
      src="https://images.wikidexcdn.net/mwuploads/wikidex/4/4d/latest/20210608195447/Logo_de_Pok%C3%A9mon.svg"
      alt="Pokemon Logo"
      class="logo"
    />
    <app-trainer-list></app-trainer-list>
  </div>

</body>
</html>
